<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Create the tabs -->
  <!-- <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
  </ul> -->

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- Settings tab content -->
    <div class="tab-pane active" id="control-sidebar-settings-tab">
      <form method="post">
        <h3 class="control-sidebar-heading">General Settings&nbsp;
          <span>
            <i class="fa fa-gears"></i>
          </span>
        </h3>
        <h4 class="control-sidebar-heading">Skins</h4>

        <ul class="list-unstyled clearfix">
          <li style="float:left; width: 33.33333%; padding: 5px;">
            <a href="javascript:void(0)" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" (click)="selectSkin(appSkin.Blue)">
              <div>
                <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9"></span>
                <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
              </div>
              <div>
                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span>
                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
              </div>
            </a>
            <p class="text-center no-margin">Blue</p>
          </li>
          <li style="float:left; width: 33.33333%; padding: 5px;">
            <a href="javascript:void(0)" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" (click)="selectSkin(appSkin.Yellow)">
              <div>
                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
              </div>
              <div>
                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span>
                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
              </div>
            </a>
            <p class="text-center no-margin">Yellow</p>
          </li>
          <li style="float:left; width: 33.33333%; padding: 5px;">
            <a href="javascript:void(0)" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover" (click)="selectSkin(appSkin.Purple)">
              <div>
                <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
              </div>
              <div>
                <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32"></span>
                <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7"></span>
              </div>
            </a>
            <p class="text-center no-margin">Purple</p>
          </li>
        </ul>
        <!-- /.form-group -->
      </form>
    </div>
    <!-- /.tab-pane -->
  </div>
</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>