.center_div {
  margin: 0 auto;
  width: 35% /* value of your choice which suits your alignment */
}

  .center_div h3 {
    text-align: center;
  }

.custom-btn {
  width: 50%;
  height: 50px;
  border-radius: 0;
  font-size: larger;
}

  .custom-btn.active {
    background-color: black;
    color: white;
  }

.btn-group > .btn.custom-btn:hover {
  border: solid #4080ff 0.5px;
}
