<div class="container center_div">
  <h3><b>TÀI KHOẢN CỦA TÔI</b></h3>
  <br />
  <div style="text-align: center;">
    <div class="btn-group" style="width: 100%;">
      <button type="button" class="btn custom-btn" (click)="loginPage()"
              routerLinkActive="active"
              routerLink="/auth/login" ><b>ĐĂNG NHẬP</b></button>

      <button type="button" class="btn custom-btn" (click)="registerPage()"
              routerLinkActive="active"
              routerLink="/auth/register"><b>ĐĂNG KÝ</b></button>
    </div>
  </div>
  <br />
  <router-outlet></router-outlet>
</div>


