<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <!-- Status -->
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online
        </a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>

      <ng-template ngFor let-item [ngForOf]="treeItems" let-i="index">
        <li class="treeview" routerLinkActive="active">

          <!-- For item has child items  -->
          <a *ngIf="item.isHaveChildItem" href="javascript:void(0)">
              <i class="{{item.icon}}"></i>
              <span>{{item.title}}</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>

          <!-- For item doesn't have child items  -->
          <a *ngIf="!item.isHaveChildItem && isDisplayTreeItem(item)" [routerLink]="item.routerLink">
            <i class="{{item.icon}}"></i>
            <span>{{item.title}}</span>
          </a>

          <!-- Multilevel items -->
          <ul class="treeview-menu" *ngIf="item.isHaveChildItem">
            <ng-template ngFor let-childItem [ngForOf]="item.childItems" let-y="index">
              <li *ngIf="isDisplayTreeItem(childItem)"
                   routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="childItem.routerLink">
                  <i class="{{childItem.icon}}"></i>
                  <span>{{childItem.title}}</span>
                </a>
              </li>
            </ng-template>
          </ul>
        </li>
      </ng-template>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>