.center_div {
  margin: 0 auto;
  width: 90% /* value of your choice which suits your alignment */
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

  ul li a {
    color: black;
  }

.footer-items ul li {
  margin: 8px 0 8px 0;
}
