<footer class="container center_div">
  <nav class="navbar navbar-default">
    <div style="width: 85%; margin: 0 auto;">
      <ul class="nav navbar-nav">
        <li><a href="#" style="margin-top: 5px;">KẾT NỐI</a></li>
        <li><a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="margin-top: 5.5px; margin-right: 2%;">
        <li><button class="submit-btn" style="width: 300px;">ĐĂNG KÝ NHẬN BẢN TIN</button></li>
      </ul>
    </div>
  </nav>
  <div class="footer-items" style="width: 85%; margin: 0 auto; display: flex;">
    <div class="col-sm-3">
      <ul>
        <li>DỊCH VỤ HỖ TRỢ</li>
        <li><a href="javascript:void(0)">Chăm Sóc Khách Hàng</a></li>
        <li><a href="javascript:void(0)">Thông Tin Liên Hệ</a></li>
        <li>
          <button class="submit-btn" style="width: 50%; height: 40px;">
            <i class="fa fa-comment-o" aria-hidden="true"></i> &nbsp;&nbsp;LIVE CHAT
          </button>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>MUA HÀNG TRỰC TUYẾN</li>
        <li><a href="javascript:void(0)">Hướng Dẫn Mua Hàng Trực Tuyến</a></li>
        <li><a href="javascript:void(0)">Kiểm Tra Giao Hàng</a></li>
        <li><a href="javascript:void(0)">Thông Tin Giao Hàng</a></li>
        <li><a href="javascript:void(0)">Điều Khoảng Cửa Hàng</a></li>
        <li><a href="javascript:void(0)">Sơ Đồ Trang Web</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>MUA SẮM CÙNG CHÚNG TÔI</li>
        <li><a href="javascript:void(0)">Khuyến Mãi Mới Nhất Tại Cửa Hàng</a></li>
        <li><a href="javascript:void(0)">Địa Điểm Cửa Hàng</a></li>
        <li><a href="javascript:void(0)">Câu Lạc Bộ Love Your Body</a></li>
        <li><a href="javascript:void(0)">LYB Bloggers</a></li>
        <li><a href="javascript:void(0)">Skincare Diagnostics</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul>
        <li>VỀ CHÚNG TÔI</li>
        <li><a href="javascript:void(0)">Về Chúng Tôi</a></li>
        <li><a href="javascript:void(0)">Câu Chuyện Của Chúng Tôi</a></li>
        <li><a href="javascript:void(0)">Tuyên Bố Về Nô Lệ Thời Hiện Đại</a></li>
        <li><a href="javascript:void(0)">Chống Thử Nghiệm Trên Động Vật</a></li>
        <li><a href="javascript:void(0)">Dựng Xây Không Vụ Lợi</a></li>
      </ul>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div style="width: 83%; margin: 0 auto; font-size: small;">    
      <div class="col-sm-7">
        <b>@ 2018 CÔNG TY TRÁCH NHIỆM HỮU HẠN QUỐC TẾ THE BODY SHOP</b>
        <div>
          @ NHÃN HIỆU ĐÃ ĐƯỢC ĐĂNG KÝ BỞI CÔNG TY TRÁCH NHIỆM HỮU HẠN QUỐC TẾ THE BODY SHOP
        </div>
      </div>
      <div class="col-sm-5">
        <img src="../../assets/logo-da-thong-bao-voi-bo-cong-thuong.png" height="75"
             style="float: right; position: relative; bottom: 20px; margin-right: 1%;" />
      </div>
    </div>
</footer>
