<form>
  <div class="form-group">
    <label for="email">Tên tài khoản hoặc địa chỉ email <span style="color:red;">*</span></label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="form-group">
    <label for="password">Mật khẩu <span style="color:red;">*</span></label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <div class="form-group">
    <label for="password">Đăng nhập bằng:</label>
    <br />
    <div style="display: inline-flex;">
      <a href="javascript:void(0)" class="btn-google btn-image"></a>
      <a href="javascript:void(0)" class="btn-facebook btn-image"></a>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox checkbox-primary">
      <input type="checkbox" id="remember-me-cb">
      <label for="remember-me-cb">
        Ghi nhớ mật khẩu
      </label>
      <span style="float: right">
        <a href="javascript:void(0)" style="color: black; text-decoration: underline;">
          Quên mật khẩu?
        </a>
      </span>
    </div>
  </div>
  <div class="form-group">
    <button class="submit-btn">ĐĂNG NHẬP</button>
  </div>
</form>
