label {
  font-weight: 500;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-google {
  background-image: url('../../../assets/Google-Plus-icon.png');
}

.btn-facebook {
  background-image: url('../../../assets/Facebook.png');
  background-size: 35px !important;
}

.btn-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
