label {
  font-weight: 500;
  padding-left: 0px;
  text-align: left !important;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}
