<form class="form-horizontal">
  <h4><b>Thông tin cá nhân</b></h4>
  <div class="form-group">
    <label class="control-label col-sm-4" for="first-name">Họ <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="text" class="form-control" id="first-name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="last-name">Tên <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="text" class="form-control" id="last-name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="email">Địa chỉ email <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="email" class="form-control" id="email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="password">Mật khẩu <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="password" class="form-control" id="password">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="confirm-password">Xác nhận mật khẩu <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="password" class="form-control" id="confirm-password">
    </div>
  </div>

  <h4><b>Thông tin địa chỉ</b></h4>
  <div class="form-group">
    <label class="control-label col-sm-4" for="phone">Điện thoại <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="text" class="form-control" id="phone">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="province">Tỉnh/ Thành <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <select id="province" class="form-control">
        <option>Vui lòng chọn tỉnh/thành</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="address">Địa chỉ <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="email" class="form-control" id="address">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-4" for="district">Quận huyện <span style="color: red;">*</span></label>
    <div class="col-sm-8 padding-right-0">
      <input type="password" class="form-control" id="district">
    </div>
  </div>

  <div class="checkbox checkbox-primary">
    <input type="checkbox" id="receive-ads">
    <label for="receive-ads">
      &nbsp;&nbsp;Đăng ký nhận bản tin
    </label>
  </div>

  <div class="checkbox checkbox-primary">
    <input type="checkbox" id="capcha">
    <label for="capcha">
      &nbsp;&nbsp;Tôi không phải người máy
    </label>
    <span>
      <img src="../../../assets/1200px-RecaptchaLogo.svg.png" height="35"/>
    </span>
  </div>
  <br />
  <div class="form-group">
    <button class="submit-btn">ĐĂNG KÝ</button>
  </div>
</form>
