/* You can add global styles to this file, and also import other style files */
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

  /* style glyph */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }

/* align glyph */
.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

.navbar.center .navbar-inner {
  text-align: center;
}

  .navbar.center .navbar-inner .nav {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

.navbar-default .navbar-nav > li > a {
  color: black;
  font-weight: bold;
}

.navbar-inner > ul > li {
  display: inline;
  text-align: center;
}

.submit-btn {
  width: 100%;
  height: 50px;
  border: solid black 1.5px;
  background-color: white;
}

input {
  border-radius: 0 !important;
}
