<!-- Content Wrapper for authentication -->
<div class="wrapper" *ngIf="!isLoggedIn">
  <router-outlet></router-outlet>
</div>

<div class="wrapper" *ngIf="isLoggedIn">
  <app-main-header></app-main-header>
  <app-main-side-bar></app-main-side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Page Header
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Level
          </a>
        </li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
      | Your Page Content Here |
      -------------------------->
      <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      CM and friends
    </div>
    <!-- Default to the left -->
    <strong>
      Copyright &copy; 2018
      <a href="#">Code For Fun</a>.
    </strong> All rights reserved.
  </footer>

  <app-control-side-bar></app-control-side-bar>
</div>
<!-- ./wrapper -->
