<nav class="navbar navbar-default" style="min-height: 30px; background-color: black; margin-bottom: 0px;">
  <div class="container" style="text-align: center; vertical-align: middle; line-height: 30px;">
    <span style="color: white;">INNISFREE SALE OFF 50% ĐẾN 15-04</span>
    &nbsp;&nbsp;
    <span>
      <a href="javascript:void(0)" style="color: red; text-decoration: underline;">
        <b>
          Mua ngay
        </b>
      </a>
    </span>
  </div>
</nav>

<nav class="navbar navbar-default center" style="min-height: 135px; background-color: white; text-align: center; margin-bottom: 0px; border-bottom: 0;">
  <div class="navbar-inner">
    <div class="nav navbar-nav" style="width: 90%;">
      <div class="col-md-3">
        <a routerLink="/home">
          <img src="../assets/logo.png" height="125" style="position: relative; left: -13px;"/>
        </a>
      </div>
      <div class="col-md-6">
        <div class="inner-addon right-addon" style="margin: 50px;">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" class="form-control" style="border: solid black 2px;">
        </div>
      </div>
      <div class="col-md-3">
        <div style="margin: 50px 0px 50px 0px; display: inline-flex;">
          <div style="position: relative; right: 15px;">
            <i class="fa fa-star fa-2x" aria-hidden="true"></i>
            &nbsp;
            <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
            &nbsp;
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </div>

          <div style="display: inline-grid; top: -5px; position: relative;">
            <a [routerLink]="['/auth/login']" style="font-weight: bold; text-decoration: none;color: black; font-size: medium;">
              Đăng nhập
            </a>
            <a [routerLink]="['/auth/register']" style="font-weight: 500; text-decoration: none;color: black; font-size: small;">
              Tạo tài khoản
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar navbar-default center" style="margin-bottom: 0px; background-color: white; border-top: 0; border-bottom: solid; position: relative; top: -20px;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div id="navbar" class="navbar-inner navbar-collapse collapse">
    <ul class="nav navbar-nav" style="width: 90%;">
      <li style="width:14.28%;"><a href="#">SALE</a></li>
      <li style="width:14.28%;"><a href="#">THƯƠNG HIỆU</a></li>
      <li style="width:14.28%;"><a href="#">TRANG ĐIỂM</a></li>
      <li style="width:14.28%;"><a href="#">DƯỠNG DA MẶT</a></li>
      <li style="width:14.28%;"><a href="#">CHĂM SÓC TÓC</a></li>
      <li style="width:14.28%;"><a href="#">TẮM & DƯỠNG THỂ</a></li>
      <li style="width:14.28%;"><a href="#">LOẠI DA</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<app-footer></app-footer>



