.center_div {
  margin: 0 auto;
  width: 80% /* value of your choice which suits your alignment */
}

  .center_div p {
    text-align: center;
    border-bottom: solid yellow 5px;
    width: 18%;
    margin: 15px auto;
    font-size: 18px;
  }

.home-page-item {
  width: 20%;
  padding: 15px;
  text-align: center;
}

  .home-page-item > img {
    width: 100%;
    height: 200px;
  }

.home-page-item-title {
  font-size: 14px;
  margin: 10px 0px 10px 0px;
  height: 40px;
  overflow: hidden;
}

.home-page-item-price {
  font-size: 16px;
}

.home-page-item-btn {
  margin-top: 10px;
}

  .home-page-item-btn button {
    background-color: white;
    border: solid black 1px;
    width: 140px;
    height: 45px;
    font-size: larger;
    font-weight: bold;
  }

.fa.fa-star {
  text-shadow: 1px 1px 4px #000;
}
