<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../assets/VN_DOL-Hero-Banner-1272x520px_02-AMH-Buy2-20off-2.jpg" alt="Demo" style="width:100%;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="color:black;">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next" style="color:black;">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container center_div">
  <p>SẢN PHẨM HOT</p>

  <div style="display: inline-flex; width: 100%;">
    <div class="home-page-item">
      <img src="../assets/apple-seed-cleansing-oil-1.jpg" alt="Demo">
      <div>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <div class="home-page-item-title">
        <b>Dầu tẩy trang Innisfree</b>
      </div>
      <div class="home-page-item-price">
        <b>395.000 VND</b>
      </div>
      <div class="home-page-item-btn">
        <button>Mua ngay</button>
      </div>
    </div>
    <div class="home-page-item">
      <img src="../assets/roots-of-strength-firming-shaping-day-cream-4-640x640_1.jpg" alt="Demo">
      <div style="text-align: center">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <div class="home-page-item-title">
        <b>Serum dưỡng da nhân sâm The Body Shop</b>
      </div>
      <div class="home-page-item-price">
        <b>395.000 VND</b>
      </div>
      <div class="home-page-item-btn">
        <button>Mua ngay</button>
      </div>
    </div>
    <div class="home-page-item">
      <img src="../assets/The-Body-Shop-Drops-of-Youth-eye-cream.jpg" alt="Demo">
      <div style="text-align: center">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <div class="home-page-item-title">
        <b>Kem dưỡng mắt The Body Shop</b>
      </div>
      <div class="home-page-item-price">
        <b>395.000 VND</b>
      </div>
      <div class="home-page-item-btn">
        <button>Mua ngay</button>
      </div>
    </div>
    <div class="home-page-item">
      <img src="../assets/4-kem-chong-nang-innisfree-extreme-uv-protection-cream-100-spf50-pa.png" alt="Demo">
      <div style="text-align: center">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </div>
      <div class="home-page-item-title">
        <b>Kem chống nắng Innisfree</b>
      </div>
      <div class="home-page-item-price">
        <b>395.000 VND</b>
      </div>
      <div class="home-page-item-btn">
        <button>Mua ngay</button>
      </div>
    </div>
    <div class="home-page-item">
      <img src="../assets/Kem-duong-am-Innisfree-Ginger-Oil-Cream-Beauty-Garden.jpg" alt="Demo">
      <div style="text-align: center; color: yellow;">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </div>
      <div class="home-page-item-title">
        <b>Kem dưỡng ẩm Innisfree</b>
      </div>
      <div class="home-page-item-price">
        <b>395.000 VND</b>
      </div>
      <div class="home-page-item-btn">
        <button>Mua ngay</button>
      </div>
    </div>
  </div>
</div>
